@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,600,700,800,900");
button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  position: relative;
  background: #FFFFFF;
  border: 1.5px solid #EBECF0;
  border-radius: 8px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #83378F;
}


button:hover {
  background: #f9f9f9;
  color: #562577;
  border: 1.5px solid #EBECF0;
  transition: all 0.35s;
  
}
button:disabled {
  pointer-events: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  position: relative;
  min-width: 145px;
  min-height: 32px;
  background: #F9F9F9;
  border: 1.5px solid #D8B9F2;
  border-radius: 8px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #D8B9F2;
}