@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,600,700,800,900");
button {
  color: #FFFFFF;
  border:0;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: linear-gradient(0deg, #773282 0%, #9D2685 100%);
  box-shadow: 0px 0px 10px rgba(131, 55, 143, 0.4);
  border-radius: 8px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #5D2766;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
button:hover::before {
  opacity: 1;
}

button:disabled{
  pointer-events: none;
  color: #FFFFFF;
  border:0;
  padding: 8px 24px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 145px;
  min-height: 32px;
  background: #F2F1FC;
  box-shadow: 0px 0px 0px;
  border-radius: 8px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  
}

